html, body {
    height: 100%;
    font-size: 14px; 
    font-family: 'Open Sans', sans-serif; 
    background-image: url('../img/congruent_outline.png');
}

h1 { font-size: 28px; font-weight: bold; }
h2 { font-size: 24px; font-weight: bold; }
h3 { font-size: 20px; font-weight: bold; }
h4 { font-size: 16px; font-weight: bold; margin-bottom: 15px; }

strong { font-weight: bold; }
em { font-style: italic; }

/* Main Elements */
#container { }

#middle { 
    text-align: center;
    background-color: #DED4B9; 
    padding-bottom: 15px;
}

#servers, #community {
    display: inline-block;
    max-width: 915px;
    text-align: right;
    margin: 0 42px;
}

@media all and (max-width: 915px), handheld and (orientation: portrait) {
      #servers, #community {
        text-align: center;
        margin: 0;
    }  
}

#wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#bio {
    background-repeat: no-repeat;
    background-position: middle left;
    background-image: url('../img/black_tmug_100.png');
    margin: 0px 48px;
    padding: 20px 0px 0px 120px;
    display: block;
    text-align: left;
}

#bio p {
    font-size: 16px;
    line-height: 140%;
}

#bottom {
    color: #c1c1c1;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#bottom a {
    color: #99C2D8;
}


a.login {
    color: #99C2D8;
}

a.logout {
    color: #FB524F;
}

#bottom p.midtext {
    padding: 14px;
    color: white;
    font-size: 10px;
    font-family: monospace;
}

#newswrapper {
    position: relative;
}

#newswrapper p.updatetime {
    position: absolute;
    top: 48px;
    float: left;
    color: white;
    font-size: 10px;
    font-family: monospace;
}

#tools, #events, #announcements {
    margin: 0 auto;
}

#tools {
    display: none;
}

#events, #announcements {
    text-align: left;
}

.feedcolumn {
    display: inline-block;
    vertical-align: top;
    margin: auto;  
    width: 48%;
}

@media all and (max-width: 915px), handheld and (orientation: portrait) {
    .feedcolumn {
        width: 85%;
    }
}

.eventholder {
    background-color: #333333;
    border: 1px solid #3C3C3C;
    padding: 12px;
    margin-bottom: 12px;
}

.eventimage, .eventtitle, .eventdate, .eventdetails, .eventinfo { display: block; }
.eventtitle {
    color: white;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    background-color: #3c3c3c;
    padding: 5px;
}
.eventdate {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 12px;
}

.eventdetails p { line-height: 140%; margin: .5em; }
.eventdetails ul { line-height: 150%; margin: .5em; list-style: circle inside; }

.eventimage {
    float: left;
    margin: 10px;
}

.eventinfo {
    text-align: right;
    clear: both;
    background-color: #3c3c3c;
    padding: 5px;
    font-size: 12px;
}

#footer {
    display: block;
    padding: 5px;
    clear: both;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #DED4B9;
    border-radius: 5px;
    font-size: 12px;
}

@media all and (max-width: 915px), handheld and (orientation: portrait) {
    #footer {
        width: 95%;
    }
}

#footer a {
    text-decoration: none;
    font-weight: bold;
}

.foottxt {
    padding: 10px; 
}

.flash {
    display: block;
    margin: 5px;
    padding: 5px;
    color: #c2c2c2;
}

.title {
    font-size: 24px;
}


.miniheader, .bottomminiheader {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-variant: small-caps;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

.miniheader {
    margin-right: 45px;
}

.bottomminiheader {
    color: white;
}

/* Server styling */ 
#tf2 { }
#mvm { }
#sven { }
#csgo { }

div .server {
    display: inline-block;
    width: 450px;
    height: 150px;
    margin: 2px;
    border-radius: 10px;
}

/* Server info styling */
.server a {
    color: white;
}

.server span {
    display: block;
    color: white;
}

.server .info {
    font-weight: bold;
    background-image: url('../img/infobg.png');

}

span .game {
    font-weight: bold;
    margin-top: 80px;
    color: white;
    font-size: 16px;
    padding: 5px;
    text-align: right;
}

span .ip {
    padding-left: 5px;
    text-align: left;
}

span .status {
    padding: 5px;
    text-align: left;
}

/* Smallbox info styling */
.smallbox {
    background-position: 0px 5px;
    border-radius: 10px;
    display: inline-block;
    width: 225px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.smallbox a {
    color: #99C2D8;
}

.smallbox .name {
    font-weight: bold;
    padding: 5px;
    display: block;
    background-color: #373331;
}

.smallbox .link {
    display: block;
    font-size: 12px;
    padding: 2px;
    background-color: #494449;
}

.smallbox .sublink {
    display: block;
    font-size: 12px;
    background-color: #494449;
}
/* Smallbox */
#irc { background-image: url('../img/irc.png'); }
#irc > span.name { color: yellow; }
#irc .link, #irc .sublink { color: #FFDD00; }
#mumble { background-image: url('../img/mumble.png'); }
#mumble > span.name, #mumble .link, #mumble .sublink { color:#ABCDEF; }
#cafegroup { background-image: url('../img/cafe_steamgroup.jpg'); }
#cafegroup > span.name { color:#BFBFBF; }
