html, body {
    height: 100%;
    font-size: 14px; 
    font-family: 'Open Sans', sans-serif; 
    background-image: url('../img/congruent_outline.png');
}

a { color: #383838; font-weight: bold; }

h1 { font-size: 28px; font-weight: bold; }
h2 { font-size: 24px; font-weight: bold; }
h3 { font-size: 20px; font-weight: bold; }
h4 { font-size: 16px; font-weight: bold; margin-bottom: 15px; }

strong { font-weight: bold; }
em { font-style: italic; }

/* Main Elements */
#container { }

#middle { width: 100%; background-color: #DED4B9; text-align: center; padding-bottom: 15px;}

#wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#bio {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('../img/black_tmug_100.png');
    padding-top: 100px;
    display: block;
    text-align: left;
}

#bio p {
    font-size: 16px;
    line-height: 140%;
}

#bottom {
    color: #c1c1c1;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#bottom a {
    color: #99C2D8;
}


a.login {
    color: #99C2D8;
}

a.logout {
    color: #FB524F;
}

#bottom p.midtext {
    padding: 14px;
    color: white;
    font-size: 10px;
    font-family: monospace;
}

#tools, #events, #announcements {
    background-color: #333333;
    border: 1px solid #3C3C3C;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

#tools {
    display: none;
}

#events, #announcements {
    text-align: left;
}

.feedcolumn {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    width: 48%;
}

.eventholder {
    padding: 12px;
}

.eventimage, .eventtitle, .eventdate, .eventdetails, .eventinfo { display: block; }
.eventtitle {
    color: white;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
}
.eventdate {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 12px;
}

.eventdetails p { line-height: 140%; margin: .5em; }

.eventimage {
    float: left;
    margin: 10px;
}

.eventinfo {
    text-align: right;
    clear: both;
    background-color: #3c3c3c;
    padding: 5px;
    font-size: 12px;
}

#footer {
    display: block;
    padding: 5px;
    clear: both;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #DED4B9;
    border-radius: 5px;
    font-size: 12px;
}

#footer a {
    text-decoration: none;
    font-weight: bold;
}

.foottxt {
    padding: 10px; 
}

.flash {
    display: block;
    margin: 5px;
    padding: 5px;
    color: #c2c2c2;
}

.title {
    font-size: 24px;
}

div .server {
    display: inline-block;
    width: 450px;
    height: 150px;
    margin: 2px;
    border-radius: 10px;
}

.miniheader, .bottomminiheader {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-variant: small-caps;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bottomminiheader {
    color: white;
}

/* Server styling */
#tf2 { background-image: url('../img/dustbowl.jpg'); background-position: 0px -25px; }
#mvm { background-image: url('../img/mvm_decoy.jpg'); background-position: 0px -25px; }
#sven { background-image: url('../img/svencoop.jpg'); background-position: 0px -55px; }
#csgo { background-image: url('../img/de_seaside.jpg'); background-position: 0px 0px; }

/* Server info styling */
.server span {
    display: block;
    color: white;
}

.server .info {
    font-weight: bold;
    background-image: url('../img/infobg.png');

}

span .game {
    font-weight: bold;
    margin-top: 80px;
    color: white;
    font-size: 16px;
    padding: 5px;
    text-align: right;
}

span .ip {
    padding-left: 5px;
    text-align: left;
}

span .status {
    padding: 5px;
    text-align: left;
}

/* Smallbox */
#irc { background-image: url('../img/irc.png'); }
#mumble { background-image: url('../img/mumble.png'); }
#cafegroup { background-image: url('../img/cafe_steamgroup.jpg'); }
#fightclub { background-image: url('../img/fightclub_group.jpg'); }

/* Smallbox info styling */
.smallbox {
    border-radius: 10px;
    display: inline-block;
    width: 225px;
    height: 100px;
    overflow: hidden;
}

.smallbox .name {
    font-weight: bold;
    padding: 5px;
    display: block;
    background-color: #64B6B1;
}

.smallbox .link {
    display: block;
    font-size: 12px;
    padding: 2px;
    background-image: url('../img/grey_transparent.png');
}

.smallbox .sublink {
    display: block;
    font-size: 12px;
    background-image: url('../img/grey_transparent.png');
}
