<!doctype html>
<html>
    <head>
        <title>Cafe of Broken Dreams</title>
        <link href='http://fonts.googleapis.com/css?family=Poiret+One|Open+Sans|Oswald:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/reset.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="icon" type="image/png" href="/static/img/favicon.png">
    </head>
    <body>
        <div id="middle">
            <div id="bio">
                <p>The <span class="title">Cafe of Broken Dreams</span> is a <s>elite</s> group of video-gamers, hailing from the pre F2P-era of Team Fortress 2. We play an assortment of video games now and sometimes host events. Most of the time we sit in IRC and complain about how bad video games have become. Join us!</p>
            </div>
            <div id="wrapper">
            <span class="miniheader">servers</span>
                {% if serverinfo != False %}
                {% for server in serverinfo.keys() %}
                <div id="{{ server }}" class="server">
                    <span class="info">
                        <span class="game">{{ serverinfo[server]['gamename'] }}</span>
                        <span class="ip">{{ serverinfo[server]['ip'] }}:{{ serverinfo[server]['port'] }}</span>
                        <span class="status">{% if not serverinfo[server]['error'] %}{{ serverinfo[server]['numplayers'] }}/{{ serverinfo[server]['maxplayers'] }} [<em>{{ serverinfo[server]['map'] }}</em>]{% else %}server is down!{% endif %}</span>
                    </span>
                </div>
                {% endfor %}
                {% endif %}
            <span class="miniheader">community</span>
            </div><!-- wrapper -->
            <div id="irc" class="smallbox">
                <span class="name">IRC</span>
                <span class="link">irc.gamesuerge.net</span>
                <span class="sublink">#cafe</span>
            </div>
            <div id="mumble" class="smallbox">
                <span class="name">Mumble</span>
                <span class="link">mumble.cafeofbrokendreams.com</span>
                <span class="sublink">port 9010</span>
            </div>
            <div id="cafegroup" class="smallbox">
                <span class="name">Cafe SteamGroup</span>
                <span class="link"><a href="http://steamcommunity.com/groups/cafeofbrokendreams">@ Steam Community</a></span>
            </div>
            <div id="fightclub" class="smallbox">
                <span class="name">Cafe FIGHT CLUB</span>
                <span class="link"><a href="http://steamcommunity.com/groups/cafefightclub">@ Steam Community</a></span>
            </div>
        </div> <!-- middle -->
        <div id="bottom">
            <strong>Cafe of Broken Dreams est. 2009</strong>
        </div> <!-- bottom -->
    </body>
</html>
