<!doctype html>
<html>
    <head>
        <title>Cafe of Broken Dreams</title>
        <link href='http://fonts.googleapis.com/css?family=Poiret+One|Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="top">
            <h1 class="header">Cafe of Broken Dreams</h1>
        </div>
        <div id="middle">
            <div class="section" id="welcome">
                <h4>Welcome to the Cafe</h4>
                <p>Forged from the depths of cp_dustbowl, the Cafe is a group of <s>friends</s> people tries to find meaning in the post-peak-TF2 era.</p>
            </div>

            <div class="section">
                <h4>What's New?</h4>
                <p><em>4/10/14</em> <strong>You would not be wrong in thinking the website looks different.</strong> It does. It might look better later. Don't count on it.</p>
            </div>
            <div class="section">
                <h4>Servers</h4>
                <ul>
                    <li>Team Fortress 2 - cafeofbrokendreams.com:27015</li>
                    <li>TF2: Mann vs Machine - cafeofbrokendreams.com:27666</li>
                    <li>Sven-Coop - cafeofbrokendreams.com:28000</li>
                    <li>Counter-Strike: GO - cafeofbrokendreams.com:27666</li>
                    <li>Kaillera - cafeofbrokendreams.com:27888</li>
                    <li>Mumble - mumble.cafeofbrokendreams.com:9010</li>
                </ul>
            </div>

            <div class="section">
                <h4>Community</h4>
                <ul>
                    <li>Cafe Steam group - <a href="http://steamcommunity.com/groups/cafeofbrokendreams">http://steamcommunity.com/groups/cafeofbrokendreams</a></li>
                    <li>Cafe FIGHT CLUB steam group - <a href="http://steamcommunity.com/groups/cafefightclub">http://steamcommunity.com/groups/cafefightclub</a></li>
                    <li>Qafe Quake Qlan - <a href="http://www.quakelive.com/#!clans/summary/206434">http://www.quakelive.com/#!clans/summary/206434</a></li>
                    <li>IRC - irc.gamesurge.net #cafe #cafe-dota2</li>
                </ul>
            </div> <!-- section -->
        </div> <!-- middle -->
        <div id="bottom">
            <a href="https://github.com/GordonsBeard/cafe-flask">github repro</a>
        </div>
    </body>
</html>
